if SHIELD_PAWS_LEFT

config ZMK_KEYBOARD_NAME
    default "Split Paws Keeb"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PAWS_LEFT || SHIELD_PAWS_RIGHT

config ZMK_SPLIT
    default y

endif